<div class="container text-center mt-5">
  <h1 class="mb-4">Welcome to ChatSphere</h1>
  <p class="lead mb-4">
    Connect with your world in real-time with ChatSphere, a simple yet powerful
    chat platform.
  </p>
  <div class="buttons">
    <a href="/login" class="btn btn-success btn-lg btn-block mb-2">Login</a>
    <a href="/register" class="btn btn-outline-success btn-lg btn-block"
      >Register</a
    >
  </div>
</div>
