<form id="loginForm" class="col-md-4">
  <h1 class="text-center mb-4">Register for ChatSphere</h1>
  <input
    type="text"
    id="username"
    name="username"
    class="form-control"
    placeholder="Username"
    required
  />

  <input
    type="password"
    id="password"
    name="password"
    class="form-control"
    placeholder="Password"
    required
  />
  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
